<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="plantilla :: head"></head>
<body>
	<header th:replace="plantilla :: header"></header>
	<div class="container py-5">
		<div class="card">
			<div class="card-header">Enunciado de la práctica</div>
			<div class="card-body">
				<p>
					<strong>Construyendo Ficheros Word (Por parejas)</strong>
				</p>
				<p>Deberás crear una BBDD de agenda en tu BBDD MySQL. Cada
					alumno deberá tener, al menos, los siguientes campos: Nombre,
					Dirección, Población, CP, y foto. El campo foto será del tipo
					LONGBLOB para poder almacenar imágenes. (Ver ejemplo que se
					facilita)</p>

				<p>Se pide:</p>

				<p>Crear una aplicación que permita insertar alumnos en la BBDD
					incluyendo su imagen.</p>

				<p>Permitir que la aplicación permita generar un documento WORD
					en el que aparezcan dentro de una tabla los datos de los alumnos
					incluidos en la BBD, incluyendo su imagen dentro de una celda de
					esa tabla.</p>

				<p>Además se permitirá descargar un fichero word con una única
					ficha de un alumno, en la que se presentará de manera más agradable
					los datos del alumno. Usando Colores, presentado la imagen a la
					derecha o izquierda, algún borde, etc...</p>

				<p>NOTA: Esta práctica es evaluable y contará hasta 2,5 puntos
					para la nota de la 2º Evaluación (Previa entrevista personal con el
					profesor).</p>

				<p>Se valorará el funcionamiento de la aplicación (1,5 pto),
					presentación de los informes y de la interfaz gráfica utilizada
					(0,75 ptos), claridad del código (0,25 ptos)</p>
			</div>
		</div>
	</div>
</body>
<footer th:replace="plantilla :: footer"></footer>
</html>