<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="plantilla :: head"></head>
<body>
	<header th:replace="plantilla :: header"></header>
	<div class="container py-5">
		<table class="table table-hover">
			<thead>
				<tr class="bg-secondary text-white">
					<th>Name</th>
					<th>Address</th>
					<th>Town</th>
					<th>ZIP code</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${student.name}"></td>
					<td th:text="${student.address}"></td>
					<td th:text="${student.town}"></td>
					<td th:text="${student.zipCode}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
<footer th:replace="plantilla :: footer"></footer>
</html>